body {
    background-color: midnightblue;
    margin: 10px;
    font-family: monospace;
    color: rgb(0, 255, 255);
}

.chatlogcontainer {
    text-align: center;
    width: 300px;
    color: blueviolet;
    border: 1px solid cadetblue;
}

table.mainlayout {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

table.mainlayout th, table.mainlayout td {
    width: 50%;
    border: 1px solid;
    border-color: blueviolet;
}

table.pfps {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

table.pfps tr {
    border: 1px solid;
    border-color: aqua;
}

table.pfps th, table.pfps td {
    width: 100px;
    border: none;
    text-align: center; 
    vertical-align: middle;
    
}

ol.chatlog {
    list-style-type: none;
    text-align: left;
}

img.pfpimage {
    width: 100px;
    margin-bottom: 5%;
}

p.subtext {
    color: white;
    opacity: 50%;
    font-size: smaller;
    font-family: monospace;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}