{% extends 'base.html' %}


{% block head %}
<title>GAMING</title>
{% endblock %}


{% block body %}

<body onload="updatePlayerList()"

<table id="mainlayout" class="mainlayout">
    <tr>
        <td>
            <table class="pfps" id="playersTable">
                <!--
                {% for player in players %}
                <tr>
                    <td>
                        <h2>name</h2>
                        <br>
                        <img src="{{ url_for('static', filename='images/defaultpfps/charlie.png') }}" alt="pfp", height="200px">
                    </td>
                    <td>
                        <button onclick="shootPlayer()">SHOOT</button>
                    </td>
                    <td>
                        <p>health_placeholder</p>
                    </td>
                </tr>
                {% endfor %}
                -->
            </table>
        </td>
    </tr>
</table>


<div class="chatlogcontainer">
    <ol class="chatlog" id="chat">
        {% for chat in chatlog %}
        <li>{{ chat }}</li>
        {% endfor %}
    </ol>
    <input type="text" id="message">
    <button onclick="sendMessage()">Send</button>
</div>


<template id="playerrowtemplate">
    <tr>
        <td>
            <h2 id="playernickname"></h2>
            <p id="playeripaddress" class="subtext"></p>
            <img src="{{ url_for('static', filename='images/defaultpfps/0.webp') }}" alt="pfp", class="pfpimage" id="playerpfpimage">
        </td>
        <td>
            <button onclick="shootPlayer()" id="shootbutton" class="shootbutton">SHOOT</button>
        </td>
        <td>
            <p>health_placeholder</p>
        </td>
    </tr>
</template>



<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>

    var socket = io();

    var myIP = '{{ myIP }}'
    
    var player_data = JSON.parse('{{ player_data | tojson }}');

    const pfpsLocation = "/static/images/defaultpfps/"

    const defaultPfps = ["dealer.webp","johnhelldiver.webp","parkzer.jpg","spy.jpg","obamna.png","michael.png"]

    const susPfps = []


    socket.on("update_chatlog", function(chatlog) {
        console.log("we're updating the chat rn")
        let chatDiv = document.getElementById("chat");
        chatDiv.innerHTML = "<li>" + chatlog.join("</li><li>") + "</li>"

    });

    function sendMessage() {
        let message = document.getElementById("message").value;
        socket.emit("send_message", {message: message});
        document.getElementById("message").value = "";
    }

    socket.on("update_players", function(players) {
        player_data = players
        updatePlayerList()
    });


    function updatePlayerList() {
        console.log("we're updating the playyers rn")
        let playersTable = document.getElementById("playersTable");
        playersTable.innerHTML = "";
        const template = document.querySelector("#playerrowtemplate")

        currentPlayerIndex = 0;
        player_data.forEach(player => {
            if (player_data[0] == myIP) {
                break;
            };
            currentPlayerIndex ++;
        });
        
        let isCurrentPlayerConnected = false
        let i = 0;
        player_data.forEach(player => {
            const clone = template.content.cloneNode(true);

            let filename = defaultPfps[i];
            let pfpLocation = pfpsLocation + filename;
            console.log(pfpLocation);

            let nameElement = clone.getElementById("playernickname");
            nameElement.textContent = player[1];
            
            let ipElement = clone.getElementById("playeripaddress");
            ipElement.textContent = player[0];
            
            let pfpElement = clone.getElementById("playerpfpimage");
            pfpElement.src = pfpLocation;

            let shootButtonElement = clone.getElementById("shootbutton");
            shootButtonElement.textContent = "button button button";
            shootButtonElement.setAttribute("onclick","shootPlayer("++","+i+")");

            playersTable.appendChild(clone);

            console.log(player[0]);
            if (myIP == player[0]) {
                isCurrentPlayerConnected = true;
            };
            i++;
        });
        if (!isCurrentPlayerConnected) {
            location.reload();
        };
    };

    function shootPlayer(attackingPlayerIndex, targetPlayerIndex) {
        console.log(player_data)
        console.log(targetPlayerIndex)
        console.log("we are shooting at player " + targetPlayerIndex + ", which has ip address: " + player_data[targetPlayerIndex][0]);

        socket.emit("shoot_player", {targetPlayerIndex:targetPlayerIndex, attackingPlayerIndex:attackingPlayerIndex});
    }

</script>


{% endblock %}
